* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

table,
tr,
th,
td {
    /* border: 1px solid black; */
    font-size: 25px;
}

table {
    width: 100%;
}

td,
th {
    width: 16%;
}